div.h1 {
  font-size: 120%;
  font-weight: 150;
}
div.h11 {
  font-size: 120%;
  font-weight: bold;
}
div.h2 {
  font-size: 180%;
  font-weight: 100;
}
div.h3 {
  font-size: 250%;
  text-align: center;
  font-weight: 40;
  color: #a10511;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

/*
.main,
.sidebar {
  padding: 30px;
}
*/

.main {
  background-color: #fff;
  width: 87%;
  line-height: 1.8;
}

.sidebar {
  background-color: #222;
  color: white;
  width: 13%;
  height: 25vh;
  position: -webkit-sticky;
  position: sticky;
  padding: 40px;
  padding-top: 50px;
  top: 0;
  line-height: 1.2;
}

ul.education {
 list-style-type: class="fa">&#xf19d;
}

a { color: #076bb8; text-decoration: underline; }         /*HYPERLINK DECORATION*/
a:hover { color: #008716; text-decoration: underline; }

.navmenu a{
   color: white; 
}  
.navmenu a:hover{
  color: #a10511;
}

body {
  background-color: #222;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.95em;
  padding: 0;
  margin: 0;
}

@-ms-viewport { width: device-width ; }
@viewport { width: device-width ; }
@media only screen and (max-width: 629px) {
	#content {
		float: none ;
		width: 100% ;
	}
	#navbar {
		float: none ;
		width: 100% ;
	}
	#pagelinkcode {
		width: 90% ;
	}
	#switchlayout input {
		width: 90% ;
	}
}
