<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/earth.png">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">   **** This makes it more mobile friendly -->
    <!-- <meta name="viewport" content="initial-scale=1">   **** This makes it more mobile friendly -->
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>

  <body>
    
  <div id="style_container">
     
 <div id="style_content">   
  
<div class="container">

  <div class="column1" style="background-color:#222;">
    <div id="style_title">
    <h3><a href="/" style="color:white; text-decoration: none">Witold Bagniewski</a></h3>
    <p>Some text..</p>
    </div>
  </div>
  <div class="column2" style="background-color:#ggg;">
    <p> {{ content }} </p>
  </div>

</div>

  </body>
   
</html>
